{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "cdmf.unit.ui.title" pageTitle="设备管理"}}

{{unit "cdmf.unit.data-tables-extended"}}
{{unit "cdmf.unit.lib.ui-permissions-utility"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    {{#if group}}
        <li>
            <a href="{{@app.context}}/groups">
                	组
            </a>
        </li>
        <li>
            <a href="#">
                {{group.name}}
            </a>
        </li>
    {{else}}
        <li>
            <a href="{{@app.context}}/devices">
                	设备
            </a>
        </li>
    {{/if}}
{{/zone}}

{{#zone "navbarActions"}}
    {{#if group}}
        <li>
            <a href="{{@app.context}}/devices" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
            </span>
                	从我的设备分配
            </a>
        </li>
        <!--<li>
            <a href="{{@app.context}}/group/{{group.id}}/analytics" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-statistics fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
            </span>
                View Analytics
            </a>
        </li>-->
    {{else}}
        {{#if permissions.enroll}}
            <li>
                <a href="{{@app.context}}/device/enroll" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
            </span>
                    	登记设备
                </a>
            </li>
        {{/if}}
    {{/if}}
{{/zone}}

{{#zone "content"}}
    {{#if group}}
        <h1 class="page-sub-title">
            {{group.name}} 组
        </h1>
        <div class="row no-gutter add-padding-5x add-margin-top-5x" style="border: 1px solid #e4e4e4;">
            <div class="media">
                <div id="device_overview">
                    <div class="media-left col-lg-2">
                        <div class="icon">
                            <img src="/devicemgt/public/cdmf.page.groups/images/group-icon.png"
                                 style="background-color: #11375b; height: 152px;">
                        </div>
                    </div>
                    <div class="media-body asset-desc add-padding-left-5x">
                        <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">
                            	概观
                        </div>
                        <table class="table table-responsive table-striped" id="members" style="margin-bottom: 0px;">
                            <tbody>
                            <tr role="row" class="even">
                                <td class="sorting_1" style="padding:10px 15px; width: 15%;">所有者</td>
                                <td id="group_owner" style="padding:10px 15px;">{{group.owner}}</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1" style="padding:10px 15px; width: 15%;">共享的角色</td>
                                <td style="padding:10px 15px;">
                                    {{#each roles}}
                                        {{this}}<br/>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1" style="padding:10px 15px;width: 15%;">设备数量</td>
                                <td style="padding:10px 15px;">{{deviceCount}}</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1" style="padding:10px 15px;width: 15%;">描述</td>
                                <td style="padding:10px 15px;">{{group.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h1 class="page-sub-title add-margin-top-5x">
           	设备在 {{group.name}} 组
        </h1>
    {{/if}}
    <div class="wr-device-list row">
        <div class="wr-hidden-operations wr-advance-operations"></div>
        <div class="col-md-12 wr-page-content">
            <div>
                <span id="permission" data-permission="{{permissions.list}}"></span>
                {{unit "cdmf.unit.device.operation-mod"}}
                {{#if deviceCount}}
                    <div id="loading-content" class="col-centered">
                        <i class="fw fw-wso2-logo fw-pulse fw-2x"></i>
                        	加载设备中 . . .
                        <br>
                    </div>
                    <div id="device-listing-status" class="raw hidden">
                        <ul style="list-style-type: none;">
                            <li class="message message-info">
                                <h4>
                                    <i class="icon fw fw-info"></i>
                                    <a id="device-listing-status-msg"></a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                    <div id="device-table">
                        <table class="table table-striped table-hover list-table display responsive nowrap data-table grid-view hidden"
                               id="device-grid">
                            <thead>
                            <tr class="sort-row">
                                <th class="no-sort"></th>
                                <th>设备名称</th>
                                <th>所有者</th>
                                <th>状态</th>
                                <th>平台</th>
                                <th>所有权</th>
                                <th class="no-sort"></th>
                            </tr>
                            <tr class="filter-row filter-box">
                                <th class="no-sort"></th>
                                <th data-for="设备名称" class="text-filter"></th>
                                <th data-for="所有者" class="text-filter"></th>
                                <th data-for="状态" class="select-filter data-status"></th>
                                <th data-for="平台" class="select-filter data-platform"></th>
                                <th data-for="所有权" class="select-filter data-ownership"></th>
                                <th class="no-sort"></th>
                            </tr>
                            <tr class="bulk-action-row hidden">
                                <th colspan="7">
                                    <ul class="tiles">
                                        {{#unless group}}
                                            <li>
                                                <a href="#" style="width: 100px;height: 80px;;"
                                                   data-click-event="remove-form"
                                                   class="btn square-element add-devices-to-group-link"
                                                   data-toggle="modal" data-target="#modalDemo">
                                                    <span class="icon fw-stack">
                                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                                            <i class="fw fw-group fw-stack-1x"></i>
                                                    </span>
                                                    	添加到组
                                                </a>
                                            </li>
                                        {{/unless}}
                                        <li>
                                            <a href="#" style="width: 100px;height: 80px;"
                                               data-click-event="remove-form"
                                               class="btn square-element remove-device-link"
                                               data-toggle="modal" data-target="#modalDemo">
                                                <span class="icon fw-stack">
                                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                                    <i class="fw fw-delete fw-stack-1x"></i>
                                                </span>
                                                {{#if group}}
                                                    	从组中移除
                                                {{else}}
                                                    	移除设备
                                                {{/if}}
                                            </a>
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="ast-container">

                            <br class="c-both"/>
                            </tbody>
                        </table>
                    </div>
                    <br class="c-both"/>
                    <div id="content-filter-types" style="display: none">
                        <div class="sort-title">排序</div>
                        <div class="sort-options">
                            <a href="#">设备名称<span class="ico-sort-asc"></span></a>
                            <a href="#">所有者</a>
                            <a href="#">状态</a>
                            <a href="#">平台</a>
                            <a href="#">所有权</a>
                        </div>
                    </div>
                {{else}}
                    <div id="ast-container" class="ast-container list-view">
                        <div class="ctrl-info-panel col-centered text-center wr-login">
                            <h3 class="text-muted">
                                <i class="fw fw-devices fw-3x"></i>
                            </h3>
                            <h3 class="text-muted">
                                {{#if group}}
             你没有分配给这个组的设备。让我们添加一个设备!
                                {{else}}
                                 你没有登记的设备。让我们登记一个设备!
                                {{/if}}

                            </h3>
                            <h3>
                                {{#if group}}
                                    <!--suppress HtmlUnknownTarget -->
                                    <a href="{{@app.context}}/devices" class="btn-operations btn-default">
                                            <span class="fw-stack">
                                                <i class="fw fw-circle-outline fw-stack-2x"></i>
                                                <i class="fw fw-add fw-stack-1x"></i>
                                            </span>
                                        	从我的设备分配
                                    </a>
                                {{else}}
                                    {{#if permissions.enroll}}
                                        <!--suppress HtmlUnknownTarget -->
                                        <a href="{{@app.context}}/device/enroll" class="btn-operations btn-default">
                                            <span class="fw-stack">
                                                <i class="fw fw-circle-outline fw-stack-2x"></i>
                                                <i class="fw fw-add fw-stack-1x"></i>
                                            </span>
                                            	登记新设备
                                        </a>
                                    {{/if}}
                                {{/if}}
                            </h3>
                        </div>
                    </div>
                {{/if}}

                <div id="group-device-modal-content" class="hide">
                    <div class="modal-header">
                        <h3 class="pull-left modal-title">
                            <span>
                                <span class="fw-stack">
                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                    <i class="fw fw-group fw-stack-1x"></i>
                                </span> 设备分组
                            </span>
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                                class="fw fw-cancel"></i></button>
                    </div>
                    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
                        <div id="notification-error-msg" class="alert alert-danger hidden" role="alert">
                            <i class="icon fw fw-error"></i><span></span>
                        </div>
                        <div id="user-groups">加载中...</div>
                    </div>
                    <div class="modal-footer">
                        <div class="buttons">
                            <a href="{{@app.context}}/group/add" id="group-add-link" class="btn-operations">
                               	添加设备组
                            </a>
                            <a href="#" id="group-device-add-link" class="btn-operations">
                                	给组添加设备
                            </a>
                            <a href="#" id="group-device-update-link" class="btn-operations">
                                	更新分配
                            </a>
                            <a href="#" id="group-device-cancel-link" class="btn-operations btn-default">
                                	取消
                            </a>
                        </div>
                    </div>
                </div>

                <div id="group-associate-device-200-content" class="hide">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-md-3 col-centered">
                                <h3>成功将设备添加到组中!</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="remove-device-modal-content" class="hide">
                    <div class="modal-header">
                        <h3 class="pull-left modal-title">
                            {{#if group}}
                              	 你真的想要从'{{group.name}}' 组中移除该设备吗？
                            {{else}}
                                	你真的想要从设备中移除该设备吗？
                            {{/if}}
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                                class="fw fw-cancel"></i>
                        </button>
                    </div>
                    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">

                    </div>
                    <div class="modal-footer">
                        <div class="buttons">
                            <a href="#" id="remove-device-yes-link" class="btn-operations">
                                	是的
                            </a>

                            <a href="#" id="remove-device-cancel-link" class="btn-operations">
                                	取消
                            </a>
                        </div>
                    </div>
                </div>

                <div id="remove-device-200-content" class="hide">
                    <div class="modal-header">
                        <h3 class="pull-left modal-title">
                            {{#if group}}
                                	从'{{group.name}}'组移除成功。
                            {{else}}
                                	移除成功。
                            {{/if}}
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                                class="fw fw-cancel"></i>
                        </button>
                    </div>
                    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">

                    </div>
                    <div class="modal-footer">
                        <div class="buttons">
                            <a href="javascript:hidePopup()" class="btn-operations">好的</a>
                        </div>
                    </div>
                </div>

                <div id="edit-device-modal-content" class="hide">
                    <div class="modal-header">
                        <h3 class="pull-left modal-title">
                            	请输入设备的新名称。
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                                class="fw fw-cancel"></i>
                        </button>
                    </div>
                    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
                        <input id="edit-device-name" style="color:#3f3f3f;padding:5px" type="text"
                               value=""
                               placeholder="在这里输入" size="60">
                    </div>
                    <div class="modal-footer">
                        <div class="buttons">
                            <a href="#" id="edit-device-yes-link" class="btn-operations">
                                	重命名
                            </a>

                            <a href="#" id="edit-device-cancel-link" class="btn-operations">
                                	取消
                            </a>
                        </div>
                    </div>
                </div>

                <div id="edit-device-200-content" class="hide">
                    <div class="modal-header">
                        <h3 class="pull-left modal-title">
                            	设备更新成功。
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                                class="fw fw-cancel"></i>
                        </button>
                    </div>
                    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">

                    </div>
                    <div class="modal-footer">
                        <div class="buttons">

                            <div id="edit-device-200-content" class="hide">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-centered">
                                            <h3>设备更新成功。</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="device-400-content" class="hide">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-centered">
                                            <h3>后端移除，稍后再试。</h3>
                                            <br/>
                                            <div class="buttons">
                                                <a href="#" id="device-400-link" class="btn-operations">
                                                    	好的
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="device-403-content" class="hide">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-centered">
                                            <h3>不允许操作。</h3>
                                            <br/>
                                            <div class="buttons">
                                                <a href="#" id="device-403-link" class="btn-operations">
                                                    	好的
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="group-404-content" class="hide">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-centered">
                                            <h3> 
                                            	你没有任何设备组来添加此设备。让我们添加一个新的设备组！
                                            </h3>
                                            <br/>
                                            <div class="buttons">
                                                <a href="{{@app.context}}/group/add" class="btn-operations">
                                                    	添加组
                                                </a>

                                                <a href="#" id="cancel-link" class="btn-operations">
                                                    	取消
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="device-409-content" class="hide">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-centered">
                                            <h3>设备不存在。</h3>
                                            <br/>
                                            <div class="buttons">
                                                <a href="#" id="remove-device-409-link" class="btn-operations">
                                                    	好的
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="no-device-selected" class="hide">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-centered">
                                            <h3>为了执行此操作，请选择一个或多个设备。</h3>
                                            <br/>
                                            <div class="buttons">
                                                <a href="#" id="no-device-selected-link" class="btn-operations">
                                                    	好的
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/zone}}

{{#zone "bottomJs"}}
    <script id="device-listing" data-server-url="{{serverUrl}}" data-current-user="{{@user.username}}" data-device-types="{{deviceTypes}}"
            data-portal-url="{{portalUrl}}" data-user-domain="{{userDomain}}" type="text/x-handlebars-template"></script>
    {{js "js/listing.js"}}
{{/zone}}

{{#zone "topCss"}}
    <style>
        .select2-dropdown {
            z-index: 999999999;
        }

        .wr-input-control {
            color: black;
        }

        .select2-selection__choice {
            font-size: medium;
        }
    </style>
{{/zone}}
