{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<!-- content/body -->
<div class="row">
    <div class="col-md-12">
        <!-- content -->
        {{#if isAdminRole}}
            <div class="container col-centered wr-content">
                <div class="wr-form">
                    <p class="page-sub-title">注意！</p>
                    <hr/>
                    <br>这是禁止的行为。
                </div>
            </div>
        {{else}}
            <div id="role-create-form" data-cloud={{isCloud}} class="container">
                <div class="wr-form">
                    <p class="page-sub-title">修改角色</p>
                    <p>注意带*的为必填项。</p>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="role-create-error-msg" class="alert alert-danger hidden" role="alert">
                                <i class="icon fw fw-error"></i><span></span>
                            </div>
                            <label class="wr-input-label">域名</label>
                            <div class="wr-input-control">
                                <select id="domain" class="form-control select" disabled>
                                    <option>{{userStore}}</option>
                                </select>
                            </div>
                            <label class="wr-input-label">
                                	角色名称 *
                            </label>
                            <br>
                            <label class="wr-input-label" id="roleNameValidationText">
                                ( {{roleNameHelpText}} )
                            </label>
                            {{#if isCloud}}
                                <div id="roleNameField" class="form-group wr-input-control input-group">
                                    <!--suppress HtmlFormInputWithoutLabel -->
                                    <span class="input-group-addon" id="basic-addon1">设备管理</span>
                                    <input aria-describedby="basic-addon1" type="text" id="rolename"
                                           data-regex="{{roleNameJSRegEx}}"
                                           data-errormsg="{{roleNameRegExViolationErrorMsg}}" class="form-control"
                                           data-currentrole="{{role.roleName}}"
                                           value="{{role.roleName}}"/>
                                </div>
                            {{else}}
                                <div id="roleNameField" class="form-group wr-input-control">
                                    <input type="text" id="rolename" data-regex="{{roleNameJSRegEx}}"
                                           data-errormsg="{{roleNameRegExViolationErrorMsg}}" class="form-control"
                                           data-currentrole="{{role.roleName}}"
                                           value="{{role.roleName}}"/>
                                </div>
                            {{/if}}
                            <span class=" rolenameError hidden glyphicon glyphicon-remove form-control-feedback"></span>
                            <label class="error rolenameEmpty hidden" for="summary">角色名称为必填项，至少3个字符长度且不能包含空格。 </label>

                            <br>
                            <button id="add-role-btn" class="wr-btn">修改角色</button>

                            <div id="role-created-msg" class="container col-centered wr-content hidden">
                                <div class="wr-form">
                                    <p class="page-sub-title">角色修改成功。</p>
                                    <br>您将立即重定向到角色列表页面。
                                </div>
                            </div>
                            <!-- /content -->
                            <div id="app-context" data-app-context="{{@app.context}}" class="hidden"></div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
<!-- /content/body -->
{{#zone "bottomJs"}}
    {{js "js/bottomJs.js"}}
{{/zone}}
