{{unit "cdmf.unit.ui.title" pageTitle="Register"}}

{{#zone "content"}}
    {{unit "uuf.unit.lib.form-validation"}}
<div  class="register-content">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4" style="float:right; margin-right:40px;">
	      <div id="user-create-error-msg" class="alert alert-danger hidden" role="alert" style=" margin-top:-60px;">
                <i class="icon fw fw-error"></i><span></span>
            </div>
<div class="register-box">
        <!--<p class="page-sub-title">注册</p>

        <hr/>-->
        <!-- validation -->
        <div class="wr-validation-summary hidden alert alert-danger">
            <strong></strong>
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
        <div class="form-login-box" id="registerForm" data-context="{{@app.context}}">
            <p>在WSO2 IoT 创建新账户（所有项都必填）</p>
            <div class="form-group">
                <label for="first_name" class="wr-input-label">名字</label>
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="名字"
                       data-regex="{{firstnameJSRegEx}}" data-lengthmsg="{{usernameHelpText}}"
                       data-errormsg="{{firstnameRegExViolationErrorMsg}}"/>
            </div>

            <div class="form-group">
                <label for="last_name" class="wr-input-label">姓氏</label>
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="姓氏"
                       data-regex="{{lastnameJSRegEx}}" data-errormsg="{{lastnameRegExViolationErrorMsg}}"/>
            </div>

            <div class="form-group">
                <label for="user_name" class="wr-input-label">用户名 ( {{usernameHelpText}} )</label>
                <input type="text" id="user_name" name="user_name" class="form-control" placeholder="用户名"
                       data-regex="{{usernameJSRegEx}}" data-errormsg="{{usernameRegExViolationErrorMsg}}"/>
            </div>

            <div class="form-group">
                <label for="email" class="wr-input-label">邮箱</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="邮箱"
                       data-regex="{{emailJSRegEx}}" data-errormsg="{{emailRegExViolationErrorMsg}}"/>
            </div>

            <div class="form-group">
                <label for="password" class="wr-input-label">密码</label>
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="密码"/>
            </div>

            <div class="form-group">
                <label for="password_confirmation" class="wr-input-label">确认密码</label>
                <input type="password" id="password_confirmation" name="password_confirmation"
                       class="form-control" placeholder="确认密码"/>
            </div>

            <div class="wr-input-control">
                <button class="wr-btn register-btn" id="add-user-btn">注册</button>
                <button class="wr-btn cancel-btn" onclick="document.location.href='{{@app.context}}/login';">
                    	取消
                </button>
            </div>
</div>			
        </div>

    </div>
	</div>
</div>
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/validate-register.js"}}
{{/zone}}
